.swiper{
    padding: 42px;
}
.swiper-slide{
    display: flex;
    justify-content: center;
}

/* .swiper-pagination-bullet-active{
    background-color: rgb(255, 196, 0);
} */

.swiper-button-prev{
    color: purple;
}
.swiper-button-next{
    color: purple;
}